body {
    margin: 0px;
    padding: 0px;
    color: #192E32;
    font: 12px "sans-serif", "Arial", "Verdana";
}

p, td, div {
    font: 12px "sans-serif", "Arial", "Verdana";
}

th {
    font: 12px "sans-serif", "Arial", "Verdana";
    font-weight: bold;
}

form {
    margin: 0px;
    padding: 0px;
}

input, textarea, select {
    font: 12px "courier new";
}

a:visited {
    color: #335B64;
    text-decoration: none;
}

a:link {
    color: #335B64;
    text-decoration: none;
}

a:hover {
    color: #EB8A3D;
    text-decoration: underline;
}

a:active {
    color: #EB8A3D;
    text-decoration: underline;
}

.clear {
    clear: both;
    float: none;
    font-size: 0px;
    margin: 0;
    padding: 0;
    display:block;
}

.nowrap {
    white-space:nowrap;
}
body {
    background: #DDEEF2;
    padding: 10px;
}

h1 {
    background: #F4FAFB;
    border: 1px solid #BBDDE5;
    color: #9CACAF;
    font-size: 14px;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    overflow:hidden;
}

h1 a:visited {
    color: #333;
}

h1 a:link {
    color: #333;
}

h1 a:hover {
    color: #EB8A3D;
}
h1 .action-span {
    float: right;
    padding-left: 10px;
}

h1 .action-span a {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display:block;
    padding:2px 5px 2px 23px;
    *padding:4px 5px 2px 23px;
    border:1px solid #278296;
    border-right:2px solid #278296;
    border-bottom:2px solid #278296;
    background:#DDEEF2 no-repeat 3px center;
    *background:#DDEEF2 no-repeat 3px 3px;
}

h1 .action-span a:hover {
    border:1px solid #5FA6B6;
    border-right:2px solid #5FA6B6;
    border-bottom:2px solid #5FA6B6;
    background:#FFF no-repeat 3px center;
    *background:#FFF no-repeat 3px 3px;
    color:#666;
    text-decoration:none;
}

h1 .action-span1 {
    float:left;
    margin-top:2px;
}

#footer {
    background: #F4FaFb;
    border: 1px solid #BBDDE5;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
}

.main-div {
    background: #F4FAFB;
    border: 1px solid #BBDDE5;
    margin-bottom: 10px;
    padding: 2px;
}

.main-div table {
    background: #FFF;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    width: 99%;
}

.form-div {
    background: #F4FaFb;
    border: 1px solid #BBDDE5;
    padding: 5px;
    color: #808080;
    margin: 0 0 10px 0;
}

.form-div select, .form-div input, .form-div img {
    vertical-align: middle;
}

/*
 列表部分的样式
 */
.list-div {
    width: 100%;
    background: #EEF8F9;
    border: 1px solid #BBDDE5;
}

.list-div-ad {
    border: 0px solid #BBDDE5;
}

.list-div table {
    width: 100%;
}

.list-div th {
    line-height: 24px;
    background: #BBDDE5 repeat-x;
    white-space: nowrap;
}

.list-div td {
    background: #FFF;
    line-height: 22px;
}

.list-div td.first-cell{
    font-weight: bold;
    padding-left: 10px;
}

.list-div input {
    vertical-align: middle;
}

.list-div a:visited, .list-div a:link {
    text-decoration: underline;
    color: #192E32;
}

.list-div a:hover {
    color: #9D7250;
}

.list-div input, .list-div img {
    vertical-align: middle;
}

.list-div .footer {
    background: #F4FAFB;
    text-align: right;
}

#page-table {
    width: 100%;
}

#page-link {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #999;
}

/*
 标签部分的样式
 */
.tab-div {
    background: #EEF8F9;
    border: 1px solid #BBDDE5;
    margin: 0 0 10px 0;
    padding: 1px;
}
#tabbar-div {
    background: #80BDCB;
    padding-left: 10px;
    height: 22px;
    padding-top: 1px;
}

#tabbar-div p {
    margin: 2px 0 0 0;
}

.tab-front {
    background: #BBDDE5;
    line-height: 20px;
    font-weight: bold;
    padding: 4px 15px 4px 18px;
    border-right: 2px solid #278296;
    cursor: pointer;
}

.tab-back {
    color: #FFF;
    line-height: 20px;
    padding: 4px 15px 4px 18px;
    border-right: 1px solid #FFF;
    cursor: pointer;
}

.tab-hover {
    color: #FFF;
    background: #94C9D3;
    line-height: 20px;
    padding: 4px 15px 4px 18px;
    border-right: 1px solid #FFF;
    cursor: pointer;
}

#tabbody-div {
    border: 2px solid #BBDDE5;
    padding: 10px;
    background: #FFF;
}

#tabbody-div img {
    vertical-align: middle;
}

.tab-body {
    border: 0px solid #BBDDE5;
    padding: 10px;
}
/*
表单部分
*/
td.narrow-label {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding: 5px 1em;
    width: 20%;
}

.button-div {
    text-align: center;
    padding: 3px 0;
}

.button {
    padding: 2px 8px 0px;
    margin: 2px 2px;
    border: 1px solid #2D5082;
    background: repeat-x;
}
.input{
    width:200px;
    background:#EEEEEE;
    font-size:12px;
    color:#333333;
    line-height:18px;
    border:1px solid #000000;
}
.shortinput{
    width:40px;
    background:#EEEEEE;
    font-size:12px;
    color:#333333;
    line-height:18px;
    border:1px solid #000000;
}
.text{
    width:600px;
    height:120px;
    border:1px solid #000000;
    color:#333333;
    background:#EEEEEE;
    line-height:20px;
}
.content{
    width:600px;
    height:240px;
    border:1px solid #000000;
    color:#333333;
    background:#EEEEEE;
    line-height:20px;
}
.select{
    background:#EEEEEE;
    font-size:12px;
    color:#333333;
    line-height:18px;
    border:1px solid #000000;
}
.longinput{
    width:500px;
    background:#EEEEEE;
    font-size:12px;
    color:#333333;
    line-height:18px;
    border:1px solid #000000;
}
th.group-title {
    text-align: left;
}

span.link-span {
    color: #999;
    padding-left: 10px;
    margin-left: 15px;
    border-left: 2px solid #999;
    font-weight: normal;
    cursor: pointer;
}

ul.msg-link {
    list-style-type: none;
}

ul.msg-link li {
    background: no-repeat 0px 6px;
    padding-left:   18px;
    margin-left:  0;
}
.no-records {
    color: #666;
    text-align:center;
    padding: 10px;
}
pre{
    width:800px;
    overflow:hidden;
    white-space: pre-wrap;  //控制长度
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;       //换行断词 warp换行的意思
    word-break:break-all;
}